<a href="https://colab.research.google.com/github/bgohrani/DS_Algo/blob/main/Arrays_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import math

#importing essential libraries

# 2. Arrays and Lists

Common data structures used in programming, contiguous in memory and referenced by indices

## Simple example of the use of arrays

In [ ]:
arr_size = input('How many days?')

temp_array = np.zeros([int(arr_size)])

for i in range(temp_array.shape[0]):
  # print('Enter day',i+1,'s temperature')
  temp_array[i] = input(("Enter day %d's temperature" %(i+1)))

avg_temp = np.sum(temp_array)/temp_array.shape[0]
print('Average temperature is',avg_temp)
count = 0
for i in range(temp_array.shape[0]):
  if temp_array[i] >= avg_temp:
    count += 1
print(count)

How many days?4
Enter day 1's temperature1
Enter day 2's temperature1
Enter day 3's temperature1
Enter day 4's temperature1
Average temperature is 1.0
4

## 1. Find the missing number in a list

In [ ]:
def find_missing_no(arr):
  start = arr[0]
  end = arr[-1]
  sum = 0
  for i in range(start,end+1,1):
    sum += i
  ans = sum - np.sum(arr)
  return ans

In [ ]:
a = []
for i in range(500,601,1):
  a.append(i)  
a.pop(55)

555

In [ ]:
find_missing_no(a)

555

## 2. Given an array of numbers and a target, find the two numbers from the array which would add up to give the target

In [ ]:
def find_sum_pairs(list_nos,target):
  ans = []
  for number in list_nos:
    if number > target:
      continue
    else:
      number_to_search = (target - number)
      try:
        list_nos.index(number_to_search)
        ans.append(list_nos.index(number))
        ans.append(list_nos.index(number_to_search))
        list_nos[list_nos.index(number)] += 0.5
      except:
        continue
  return ans

In [ ]:
a = [6,4,23,14,9]
target = 18

In [ ]:
find_sum_pairs(a,18)

[1, 3, 4, 4]

## 3. Finding a number in an array

In [ ]:
def find_element_array(arr, element):
  search_list = list(arr)
  try:
    print(search_list.index(element))
  except:
    print('Not')

In [ ]:
a= np.array([1,2,3,4,5,7,8,9,10])

In [ ]:
find_element_array(a,4)

3

## 4. Find max product of two integers in an array

In [ ]:
def find_max_product(arr):
  search_list = list(arr)
  num1 = max(search_list)
  search_list.remove(num1)
  num2 = max(search_list)
  ans = num1 * num2
  return ans

In [ ]:
a = np.array([500,600,200,150,870,941,732,871])

In [ ]:
find_max_product(a)

819611

## 5. Find if all elements in the list are unique

In [ ]:
def check_if_repeated(check_list):
  for item in check_list:
    check_list.remove(item)
    try:
      check_list.index(item)
      print('All are not unique')
      print(item,'is repeated')
      break
    except:
      continue

In [ ]:
a = [1,2,3,4,5,6,7,8,9,9,10]

In [ ]:
check_if_repeated(a)

All are not unique
9 is repeated

## 6. Check if given string is permutation of another

In [ ]:
def check_list_permutation(list1, list2):
  a = len(list1)
  b = len(list2)
  if a>=b:
    for item in list1:
      result = 1
      try:
        list2.index(item)
      except:
        result = 0
        break
    if result == 1:
      print('They are permutations of each other')
    else:
      print('Not permutation')
  else:
    check_list_permutation(list2,list1)

In [ ]:
a = ['e','f','g','h']
b = ['e','g','h','f','h']

In [ ]:
check_list_permutation(a,b)

They are permutations of each other

## 7. Rotate a matrix by 90 degrees

In [ ]:
def rotate_matrix_90(arr):
  b = np.zeros([arr.shape[1],arr.shape[0]]).astype(int)
  for i in range(arr.shape[0]):
    b[:,i] = arr.transpose()[:,(arr.shape[0] -1 -i)]
  return b

In [ ]:
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [ ]:
b = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
rotate_matrix_90(a)

array([[ 9,  5,  1],
       [10,  6,  2],
       [11,  7,  3],
       [12,  8,  4]])